<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5500/blog/static/blog/css/base.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
        </ul>
    </nav>
    <main>
    {% block content %}
        <h1>Here we go!</h1>
        <section>More text</section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, dolorum! Tempore minima animi ratione, itaque, vero deserunt illum, possimus repellat ipsa quisquam eligendi iste quam dolorum velit asperiores fuga qui?</p>
    {% endblock %}
    </main>
</body>
</html>